@import "~commons";

.main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    
    color: @text-primary-color;
}

.main-content {
    margin-top: -50px;
    padding: 60px 0;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    text-align: center;
    .text-primary-shadow();

    h2 {
        margin: 0;
        margin-bottom: 30px;

        font-size: 4.2rem;
    }

    &-invitation-text {
        margin-bottom: 70px;

        p {
            display: block;
            margin: 0 auto;
            padding: 0 35px;
            max-width: 1200px;

            font-weight: lighter;
            font-size: 1.5rem;
        }
    }

    &-action-buttons {
        margin-bottom: 10px;
    }

    &-button {
        margin: 0 15px;
        padding: 15px 20px;
        padding-left: 70px;

        background-color: @accent-color;
        border-radius: 4px;
        
        color: @text-primary-color;
        text-decoration: none;
        text-shadow: none;
        font-size: 1.3rem;

        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 20px;
        background-size: 24px;

        transition: background 0.3s, color 0.3s;

        &:hover {
            color: @accent-color;
            background-color: #ffffff;
        }

        &-android {
            background-image: url('~images/play.png');
        }
    
        &-ios {
            background-image: url('~images/apple.png');
        }
    
        &-web {
            background-image: url('~images/web.png');
        }
    }
}