@import "~commons";

.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 30px 35px;
    z-index: 999;

    color: @text-primary-color;

    h1 {
        margin: 0;
        
        font-size: 3rem;
        .text-primary-shadow();

        a {
            color: @text-primary-color;
            text-decoration: none;
        }
    }

    .header-logos {
        a {
            margin-left: 30px;
        }
        
        img {
            height: 65px;
            width: auto;
        }
    }
}